html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Titillium Web", serif;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-size: 120% 120%;
  background-image: url(/src/images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}

/*===== HEADER =====*/

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 5%;
}

.brand a {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.circle {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  background-color: coral;
  margin: 0 1rem;
  font-weight: bold;
}

.brand p {
  text-transform: capitalize;
  padding-left: 4.1rem;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  text-align: center;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

.menu ul li a {
  color: #fff;
}

.menu ul li:first-child {
  border-right: 1px solid #fff;
}

/*===== MAIN =====*/
.home {
  display: flex;
  min-height: calc(100vh - 120px);
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.informacoes {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  letter-spacing: 0.12rem;
  padding: 0 0.9375rem;
  max-width: 50%;
}

.informacoes h1 {
  font-size: 5.5rem;
}

.informacoes p {
  font-size: 1rem;
}

.foto {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-foto img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.foto.sombra-interna {
  /*sem espaço porque são 2 classe do mm elemento*/
  background: linear-gradient(
    to right,
    rgb(1, 120, 246),
    rgb(64, 255, 0),
    rgb(248, 1, 71)
  );
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.links-paginas {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  justify-content: center;
  margin: 2rem 0;
}

.links-paginas li {
  text-align: center;
  margin: 0 1rem;
  font-weight: bold;
}

.links-paginas li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  padding: 3rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.links-paginas li a:hover {
  background-color: white;
  transition: 0.3s ease-in;
}

.cv {
  background-color: rgba(238, 163, 2, 1);
  border: 1px solid rgba(89, 62, 3, 1);
}

.projetos {
  background-color: rgba(255, 59, 37, 1);
  border: 1px solid rgba(85, 20, 12, 1);
}

.contacto {
  background-color: rgba(128, 216, 218, 1);
  border: 1px solid rgba(19, 84, 84, 1);
}

/*===== PROJETOS =====*/

.projects-container {
  margin: 5rem 10rem;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.projects-container h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  text-decoration: underline;
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 3.5rem;
  position: relative;
}

.projects a,
.corpo,
.info-project {
  width: 500px;
  height: 700px;
}

.projects a img {
  width: 100%;
  height: 100%;
}

.corpo {
  padding: 18.75rem 2rem;
  text-align: center;
}

.info-project {
  top: 0;
  padding: 20rem 5rem;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.info-project:hover {
  opacity: 0.7;
  background-color: black;
}

/*===== CONTACT =====*/

.contact {
  display: flex;
  min-height: calc(100vh - 120px);
  align-items: center;
  gap: 5rem;
  padding: 0 8.6rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.contact form {
  width: 41.875rem;
  height: 37.5rem;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  border-radius: 0.9375rem;
  background: rgba(255, 255, 255, 0.1);
  flex-wrap: wrap;
  backdrop-filter: blur(1.875rem);
}

.contact form h1 {
  line-height: 2;
  font-weight: 700;
  margin-top: 1.25rem;
  width: 31.25rem;
  text-align: center;
}

.contact form input {
  width: 18.75rem;
  height: 3.125rem;
  padding-left: 0.625rem;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 0.625rem;
  background: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.contact form input::placeholder {
  color: #fff;
}

.contact form h4 {
  font-weight: 300;
  width: 37.5rem;
  margin-top: 1.25rem;
  font-size: 20px;
}

.contact form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  font-weight: 200;
  font-size: 1.25rem;
  padding: 0.625rem;
  outline: none;
  min-height: 5.625rem;
  max-height: 5.625rem;
  min-width: 38.75rem;
  max-width: 38.75rem;
}

#enviar {
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 0.3125rem;
  margin-top: 1.25rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 12.5rem;
  height: 3.75rem;
  padding: 0;
  margin-bottom: 1.875rem;
  transition: 0.3s;
}

#enviar:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s ease-in-out;
}

/*===== FOOTER =====*/
footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 2.5rem 5%;
}

.footer-col {
  width: 25%;
}

.footer-col h1 {
  position: relative;
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
  text-transform: capitalize;
}

.footer-col h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: chocolate;
  height: 2px;
  width: 2.5rem;
}
.footer-col ul {
  display: flex;
}

.footer-col ul a {
  display: inline-block;
  height: 2.75rem;
  width: 2.75rem;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  line-height: 2.75rem;
  transition: 0.4s;
}

.footer-col ul a:hover {
  color: white;
  background-color: black;
  border: 1px solid;
}
