html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: 120% 120%;
}

/*===== HEADER =====*/

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0.9375rem;
}

.cabecalho .brand a {
  display: flex;
  align-items: center;
  text-align: center;
}

.cabecalho .brand .circle {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  background-color: coral;
  margin: 0 1rem;
  font-weight: bold;
}

.cabecalho .brand p {
  text-transform: capitalize;
  padding-left: 4.1rem;
}

.cabecalho .menu ul {
  display: flex;
  align-items: center;
}

.cabecalho .menu ul li {
  text-align: center;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

.cabecalho .menu ul li:first-child {
  border-right: 1px solid black;
}

/*===== MAIN =====*/
/*===== FOOTER =====*/
footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 3.75rem 5%;
  background-color: chartreuse;
}

.footer-col {
  width: 25%;
}

.footer-col h1 {
  position: relative;
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
  text-transform: capitalize;
}

.footer-col h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: chocolate;
  height: 2px;
  width: 2.5rem;
}
.footer-col ul {
  display: flex;
}

.footer-col ul a {
  display: inline-block;
  height: 2.75rem;
  width: 2.75rem;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  line-height: 2.75rem;
  transition: 0.4s;
}

.footer-col ul a:hover {
  color: white;
  background-color: black;
  border: 1px solid;
}
